<ion-header-bar align-title="left" class="bar-dark">
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="tab.message">
    </button>
  </div>
  <!-- <div class="h1 title" ng-bind="message.name">微信</div> -->
  <div class="h1 title" ng-bind="message.name"></div>
  <div class="buttons">
    <button class="button button-icon icon ion-person"></button>
  </div>
</ion-header-bar>
<ion-content class="rj-stable-content" delegate-handle="messageDetailsScroll" id="message-detail-content">
  <ion-refresher pulling-text="..." on-refresh="doRefresh()" pulling-icon=""></ion-refresher>
  <div ng-repeat="item in messageDetils">
    <p class="rj-message-time" ng-bind="item.time" ng-if="false"></p>
    <div class="rj-message-wrap" ng-if="!item.isFromeMe">
      <img ng-src="{{message.pic}}" class="rj-head-pic">
      <span class="rj-triangle-left"></span>
      <p class="rj-message" ng-bind="item.content"></p>
    </div>
    <div class="rj-message-wrap" ng-if="item.isFromeMe">
      <img src="img/me.png" class="rj-head-pic-right">
      <span class="rj-triangle-right"></span>
      <p class="rj-message-right" ng-bind="item.content" ng-if="item.type == 'TEXT'"></p>
      <p class="rj-message-right button item-icon-left ion-play button-positive" ng-bind="item.content" ng-click="palyAudio(item.mediaId)" ng-if="item.type == 'VOICE'"></p>
      <p class="rj-message-right button item-icon-left button-positive" ng-click="previewImage(item.content)" ng-if="item.type == 'IMAGE'">
        <img id="{{item.content}}" src="{{item.content}}" height="150" width="120">
      </p>
    </div>
  </div>
</ion-content>

<ion-footer-bar align-title="left" class="bar-light" resize-foot-bar>
  <div class="rj-footer-btn-wrap">
    <button ng-show="isInputText" ng-click="toggleInput(isInputText)"
            class="button button-icon icon ion-ios-mic-outline rj-footer-btn-left">
    </button>
    <button ng-hide="isInputText" ng-click="toggleInput(isInputText)"
            class="button button-icon icon ion-document-text rj-footer-btn-left">
    </button>
  </div>
  <label class="item item-input rj-footer-input">
    <textarea ng-show="isInputText" msd-elastic ng-model="msg"></textarea>
    <div ng-show="isInputText" class="buttons">
      <button class="rj-footer-btn button button-icon icon ion-happy-outline"></button>
    </div>
    <div class="buttons">
      <button id="voiceBtn" class="button weui_btn weui_btn_primary" ng-hide="isInputText">按住 说话</button>
    </div>
  </label>
  <div class="rj-footer-btn-wrap">
    <div class="buttons" ng-show="!msg || msg === ''">
      <button ng-click="show()" class="button button-icon icon ion-ios-plus-outline rj-footer-btn-left">
      </button>
    </div>
    <div class="rj-send-button" ng-click="sendText()" ng-hide="!msg || msg === ''">
      <p>发送</p>
    </div>
  </div>
</ion-footer-bar>

<script>
  //定义微信jssdk需要申请的权限
  wxjs.jsApiList = [];
  wxjs.jsApiList.push('startRecord');
  wxjs.jsApiList.push('stopRecord');
  wxjs.jsApiList.push('playVoice');

  wxjs.jsApiList.push('chooseImage');
  wxjs.jsApiList.push('uploadImage');
  wxjs.jsApiList.push('downloadImage');
  wxjs.jsApiList.push('previewImage');

  wxjs.jsApiList.push('openLocation');
  wxjs.jsApiList.push('getLocation');

  var hideMenu = false; //是否隐藏菜单
  // 微信API初始化结束后回调函数
  var wxjsAfterReload = function(){
    wx.hideOptionMenu();
  }
</script>